@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
.base {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    width: 360px;
    height: 740px;
    background: linear-gradient(200.89deg, rgba(0, 102, 255, 0.6) 26.42%, rgba(171, 109, 233, 0.6) 67.68%);
  }

  .taBase {
    position: absolute;
    width: 360px;
    height: 76px;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Oswald', sans-serif;
  }

  .calendar {
    font-size: 23px;
    color: white;
  }

  .finance {
    font-size: 23px;
    color: white;
  }


  .health {
    font-size: 23px;
    color: white;
  }


  .about {
    font-size: 23px;
    color: white;
  }

  .headbase {
    position: absolute;
    width: 350px;
    height: 98px;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
    font-size: 25px;
    border-style: inset;
    font-family: 'Oswald', sans-serif;
    border-color: linear-gradient(200.89deg, rgba(0, 102, 255, 0.6) 26.42%, rgba(171, 109, 233, 0.6) 67.68%);
  }

  .aipic {
    width: 15rem;
    margin-top: -23.5rem;
    padding-top: 1rem;
  }

  .aipic2 {
    width: 15rem;
    margin-top: -6rem;
    margin-left: 8rem;
    padding-top: 5rem;
  }

  .btnpurp {
    border-radius: 50px;
    margin-top: 10rem;
    margin-left: 10rem;
    font-size: 15px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-style: inset;
    font-family: 'Oswald', sans-serif;
    border-color: linear-gradient(200.89deg, rgba(0, 102, 255, 0.6) 26.42%, rgba(171, 109, 233, 0.6) 67.68%);
  }

  .btnfeat {
    border-radius: 50px;
    margin-top: 14rem;
    margin-left: 7rem;
    font-size: 15px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-style: inset;
    font-family: 'Oswald', sans-serif;
    border-color: linear-gradient(200.89deg, rgba(0, 102, 255, 0.6) 26.42%, rgba(171, 109, 233, 0.6) 67.68%);
  }

  .purpcontent {
    font-size: 20px;
    margin: 10px;
    color: black;
    text-align: center;
    font-family: 'Oswald', sans-serif;
  }

  .purp {
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    font-size: 30px;
    border-style: inset;
    font-family: 'Oswald', sans-serif;
    border-color: linear-gradient(200.89deg, rgba(0, 102, 255, 0.6) 26.42%, rgba(171, 109, 233, 0.6) 67.68%);
  }

  .functions {
    border-radius: 10px;
    background-color: white;
    padding: 0px;
    border-style: solid;
    border-color: linear-gradient(200.89deg, blue 26.42%, red 100%);
  }

  .featcontent {
    font-size: 20px;
    margin: 10px;
    color: black;
    text-align: center;
    font-family: 'Oswald', sans-serif;
  }

  .swiper {
    margin-top: 1rem;
  }

